{{ "template-collection.css" | asset_url | stylesheet_tag }}
{{ "component-loading-overlay.css" | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-card.css' | asset_url }}" as="style"
	onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" href="{{ 'component-price.css' | asset_url }}" as="style"
	onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" href="{{ 'component-badge.css' | asset_url }}" as="style"
	onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style"
	onload="this.onload=null;this.rel='stylesheet'" />
<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" 
	media="print" onload="this.media='all'" />

<noscript>{{ "component-card.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-price.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-badge.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-pagination.css" | asset_url | stylesheet_tag}}</noscript>

{%- paginate collection.products by section.settings.products_per_page -%}
<div class="collection page-width collection-filters" id="main-collection-filters" data-id="{{ section.id }}">
	<div class="boost-pfs-container-default boost-pfs-filter-wrapper-page">
		{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%} {%- if
		section.settings.enable_sorting -%}
		<div class="facets__form">
			<div class="facets__wrapper"></div>
			<div class="collection-filters__item sorting">
				<div class="collection-filters__field">
					<label class="collection-filters__label" for="SortBy">{{"sections.collection_template.sort_by_label" | t }}</label>
					<div class="select
								boost-pfs-filter-toolbar-item
								boost-pfs-filter-custom-sorting
								boost-pfs-filter-top-sorting">
						{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}
					</div>
				</div>
			</div>
		</div>
		{%- endif -%}
		<div class="boost-pfs-filter-toolbar-top-mobile">
			<div class="boost-pfs-filter-tree-mobile-button">
				{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}
			</div>
		</div>
		{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}
	</div>
</div>
<div id="CollectionProductGrid">
	<div class="boost-pfs-filter-wrapper collection page-width">
		<div class="boost-pfs-container-default-box">
			<div class="boost-pfs-filter-left-col">
				<div class="boost-pfs-filter-left-col-inner">
					<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">
						{% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
					</div>
				</div>
			</div>
			<div class="boost-pfs-filter-right-col">
				<div class="product-grid negative-margin">
					<ul id="main-collection-product-grid" data-id="{{ section.id }}" class="
						boost-pfs-filter-products 
						grid grid--2-col
                		{% if collection.products_count < 4 %} grid--{{collection.products_count}}-col-tablet{% else %}
                  		{% if collection.products_count == 4 %} grid--4-col-desktop{% else %} grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}
                		{% endif %}">
						{%- for product in collection.products -%}
						<li class="grid__item">
							{% render 'product-card', product_card_product: product,
							media_size: section.settings.image_ratio, show_secondary_image:
							section.settings.show_secondary_image, add_image_padding:
							section.settings.add_image_padding, show_vendor:
							section.settings.show_vendor %}
						</li>
						{%- endfor -%}
					</ul>
				</div>

				<div class="boost-pfs-filter-load-more"></div>
				<div class="boost-pfs-filter-bottom-pagination"></div>
			</div>
		</div>
	</div>
</div>
{%- endpaginate -%}

<script>
// Declare boostPFSThemeConfig variable
var boostPFSThemeConfig = {
	label: {
		sorting: {% assign temp = 'collections.sorting.title' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Sort by" {% endunless %},
		sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
		sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Featured" {% endunless %},
		sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
		sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
		sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
		sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
		sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
		sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
		sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "% Off" {% endunless %},
		sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Relevance" {% endunless %},

		sale: {{ 'products.product.on_sale' | t | default: '' | json }},
		sale_price: {{ 'products.product.sale_price' | t | default: '' | json }},
		sold_out: {{ 'products.product.sold_out' | t | default: '' | json }},
		vendor: {{ 'products.product.vendor' | t |default: '' | json }},
		regular_price: {{ 'products.product.price.regular_price' | t | default: '' | json }},
		from_price_html: {{ 'products.product.price.from_price_html' | t | default: '' | json }},
		current_page: {{ 'general.pagination.current_page' | t | json }},
		unit_price: {{ 'products.product.price.unit_price' | t | json }},
		selected_or_first_unit_price: {{ 'products.product.price.unit_price' | t | json }},
		unit_price_separator: {{ 'accessibility.unit_price_separator' | t | default: '' | json }}
	},
	custom: {
		show_vendor: {% if section.settings.show_vendor %} {{ section.settings.show_vendor | json }} {% else %} false {% endif %},
		add_image_padding: {% if section.settings.add_image_padding %} {{ section.settings.add_image_padding | json }} {% else %} false {% endif %},
		media_size: {% if section.settings.image_ratio %} {{ section.settings.image_ratio | json }} {% else %} '' {% endif %},
		sold_out_badge_color_scheme: {% if settings.sold_out_badge_color_scheme %} {{ settings.sold_out_badge_color_scheme | json }} {% else %} '' {% endif %},
		sale_badge_color_scheme: {% if settings.sale_badge_color_scheme %} {{ settings.sale_badge_color_scheme | json }} {% else %} '' {% endif %},
		products_per_page: {% if section.settings.products_per_page %} {{ section.settings.products_per_page | json }} {% else %} 24 {% endif %},
		products_per_row: {% if products_per_row %} {{ products_per_row }} {% else %} 4 {% endif %},
		show_secondary_image: {% if section.settings.show_secondary_image %} {{ section.settings.show_secondary_image }} {% else %} false {% endif %},
	}
};

// Declare Templates
var boostPFSTemplate = {
	'soldOutLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' -%},
	'saleLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'saleLabelHtml' -%},
	'vendorHtml': {%- render 'boost-pfs-filter-html', layout: 'vendorHtml' -%},
	// Grid Template
	'productGridItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productGridItemHtml' -%},
	// Pagination Template
	'previousActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'previousActiveHtml' -%},
	'nextActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'nextActiveHtml' -%},
	'pageItemHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemHtml' -%},
	'pageItemSelectedHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' -%},
	'pageItemRemainHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' -%},
	'paginateHtml': {%- render 'boost-pfs-filter-html', layout: 'paginateHtml' -%},
	// Sorting Template
	'sortingHtml': {%- render 'boost-pfs-filter-html', layout: 'sortingHtml' -%}
};
</script>
{% schema %}

{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    }
  ]
}
{% endschema %}
